<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>913142324444-eks3202gsa7u3c8dtkfi9jd7306n0vpm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.913142324444-eks3202gsa7u3c8dtkfi9jd7306n0vpm</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>913142324444-4u4hrvilimr74647kbaejfqm4f2k97cm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyACmIuYvov2fQnDchnzJHOBx5Z7qBvg1P4</string>
	<key>GCM_SENDER_ID</key>
	<string>913142324444</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tnmeta.torymeta-ios</string>
	<key>PROJECT_ID</key>
	<string>torymeta</string>
	<key>STORAGE_BUCKET</key>
	<string>torymeta.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913142324444:ios:20bf336fae715e2b2be819</string>
</dict>
</plist>